@model IEnumerable<SchoolManagement.mvc.DataDB.TeacherAllocationTable>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Co)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TIdNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Co.CoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TIdNavigation.TeacherId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
